---
Checks: >
  *,
  -altera-*,
  -android-*,
  -boost-*,
  -fuchsia-*,
  -llvmlibc-*,
  -google-*,
  -readability-identifier-length,
  -modernize-use-trailing-return-type,
  -*-easily-swappable-parameters,
  -*-non-private-member-variables-in-classes,
  -*-vararg,
  -*-no-array-decay,
  -*-array-to-pointer-decay,
  -*-cstyle-cast,
  -*-narrowing-conversions,
  -*-signed-bitwise,
  -*-magic-numbers,
  -*-unused-parameters,
  -*-implicit-bool-conversion,
  -*-braces-around-statements,
  -*-pro-bounds-pointer-arithmetic,
  -*-pro-bounds-constant-array-index,
  -*-pro-type-union-access,
  -*-avoid-non-const-global-variables,
  -readability-suspicious-call-argument,
  -bugprone-copy-constructor-init,
  -readability-const-return-type,
  -misc-no-recursion
